<p id="notice"><%= notice %></p>

<div id="content" class="content container">
  <div class="action-buttons mb-3 d-flex justify-content-between align-items-center">
    <h4>Parámetros</h4>
    <%= link_to 'Nuevo', new_parametro_path, class:'btn btn-primary btn-sm' %>
  </div>

  <table class="table">
    <thead class="">
      <tr>
        <th>Id</th>
        <th>Atributo</th>
        <th>Descripcion</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <% @parametros.each do |parametro| %>
        <tr>
           <td><a class="llaves" href="/parametros/<%= parametro.id %>"><%= parametro.id %></a></td>
          <td><%= parametro.atributo %></td>
          <td><%= parametro.descripcion %></td>
          <td><%= parametro.estadoParametro %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  jQuery.noConflict();
  jQuery(document).ready(function(){
    jQuery('#parametros_data').DataTable();

  });
</script>
