<div id="content" class="content container">
  <div class="action-buttons mb-3 d-flex justify-content-between align-items-center">


    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPerson">
      Adicionar
    </button>
  </div>

  <table class="table">
    <thead class="">
      <tr>
        <th>Identificacion</th>
        <th>Numero</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Cargo</th>
        <th>Area</th>

        <th>Tipo</th>
        <th>Estado</th>

        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @personas.each do |persona| %>
        <tr>
          <td><%= obtener_valor_parametro(persona.idTipoIdentificacion) %></td>
          <td><%= persona.identification %></td>
          <td><%= persona.nombre %> <% persona.apellido %></td>
          <td><%= persona.correo %></td>
          <td><%= obtener_valor_parametro(persona.idCargo) %></td>
          <td><%= obtener_valor_parametro(persona.idArea) %></td>

          <td><%= obtener_valor_parametro(persona.idTipo) %></td>
          <td><%= obtener_valor_parametro(persona.idEstado) %></td>

          <td class="text-right">
            <%= link_to 'Editar', edit_persona_path(persona.id), class: "btn btn-info btn-sm" %>
            <%= link_to 'Eliminar', persona_path(persona.id), class: "btn btn-danger btn-sm", method: "DELETE", data: {confirm: 'Estas seguro?'} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="addPerson" tabindex="-1" role="dialog" aria-labelledby="addPersonLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Persona</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_for Persona.new do |f| %>
        <div class="modal-body">
            <div class="d-flex flex-wrap">
              <div class="form-group col-md-6">
                <%= f.label 'Nombre' %>
                <%= f.text_field :nombre, class: "form-control", placeholder: "Nombre", required: true %>
              </div>
              <div class="form-group col-md-6">
                <%= f.label 'Nombre' %>
                <%= f.text_field :apellido, class: "form-control", placeholder: "Apellido", required: true %>
              </div>

              <div class="form-group col-md-12">
                <%= f.label 'Correo' %>
                <%= f.email_field :correo, class: "form-control", placeholder: "Correo", required: true %>
              </div>

              <div class="form-group col-md-6">
                <%= f.label 'Tipo de identificacion' %>
                <select name="persona[idTipoIdentificacion]" id="idTipoIdentificacion" class="form-control">
                  <% obtener_opciones("idTipoIdentificacion").each do |paramatro| %>
                    <option value="<%= paramatro.id %>"><%= paramatro.valor %></option>
                  <% end %>
                </select>
              </div>

              <div class="form-group col-md-6">
                <%= f.label 'Numero de Identificacion' %>
                <%= f.text_field :identification, class: "form-control", placeholder: "Numero", required: true %>
              </div>

              <div class="form-group col-md-6">
                <%= f.label 'Area de Trabajo' %>
                <select name="persona[idArea]" id="idArea" class="form-control">
                  <% obtener_opciones("idArea").each do |paramatro| %>
                    <option value="<%= paramatro.id %>"><%= paramatro.valor %></option>
                  <% end %>
                </select>
              </div>

              <div class="form-group col-md-6">
                <%= f.label 'Cargo' %>
                <select name="persona[idCargo]" id="idCargo" class="form-control">
                  <% obtener_opciones("idCargo").each do |paramatro| %>
                    <option value="<%= paramatro.id %>"><%= paramatro.valor %></option>
                  <% end %>
                </select>
              </div>

              <div class="form-group col-md-6">
                <%= f.label 'Estado' %>
                <select name="persona[idEstado]" id="idEstado" class="form-control">
                  <% obtener_opciones("idEstado").each do |paramatro| %>
                    <option value="<%= paramatro.id %>"><%= paramatro.valor %></option>
                  <% end %>
                </select>
              </div>

              <div class="form-group col-md-6">
                <%= f.label 'Tipo' %>
                <select name="persona[idTipo]" id="idTipo" class="form-control">
                  <% obtener_opciones("idTipo").each do |paramatro| %>
                    <option value="<%= paramatro.id %>"><%= paramatro.valor %></option>
                  <% end %>
                </select>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <%= f.submit "Guardar", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
