<!-- Modal -->
<div class="modal fade show" id="editPerson" style="opacity: 1; display: block;" tabindex="-1" role="dialog" aria-labelledby="editPersonLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Persona</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_for @persona do |f| %>
        <div class="modal-body">
            <div class="d-flex flex-wrap">
              <div class="form-group col-md-6">
                <%= f.label 'Nombre' %>
                <%= f.text_field :nombre, class: "form-control", placeholder: "Nombre", required: true %>
              </div>
              <div class="form-group col-md-6">
                <%= f.label 'Nombre' %>
                <%= f.text_field :apellido, class: "form-control", placeholder: "Apellido", required: true %>
              </div>

              <div class="form-group col-md-12">
                <%= f.label 'Correo' %>
                <%= f.email_field :correo, class: "form-control", placeholder: "Correo", required: true %>
              </div>

              <div class="form-group col-md-6">
                <%= f.label 'Tipo de identificacion' %>
                <select name="persona[idTipoIdentificacion]" id="idTipoIdentificacion" class="form-control">
                  <% obtener_opciones("idTipoIdentificacion").each do |paramatro| %>
                    <option value="<%= paramatro.id %>"><%= paramatro.valor %></option>
                  <% end %>
                </select>
              </div>

              <div class="form-group col-md-6">
                <%= f.label 'Numero de Identificacion' %>
                <%= f.text_field :identification, class: "form-control", placeholder: "Numero", required: true %>
              </div>

              <div class="form-group col-md-6">
                <%= f.label 'Area de Trabajo' %>
                <%= collection_select("persona", :idArea, obtener_opciones("idArea"), :id, :valor, {selected: @persona.idArea}, class: "form-control" ) %>
              </div>

              <div class="form-group col-md-6">
                <%= f.label 'Cargo' %>
                <%= collection_select("persona", :idCargo, obtener_opciones("idCargo"), :id, :valor, {selected: @persona.idCargo}, class: "form-control" ) %>
              </div>

              <div class="form-group col-md-6">
                <%= f.label 'Estado' %>
                <%= collection_select("persona", :idEstado, obtener_opciones("idEstado"), :id, :valor, {selected: @persona.idEstado}, class: "form-control" ) %>
              </div>

              <div class="form-group col-md-6">
                <%= f.label 'Tipo' %>
                <%= collection_select("persona", :idTipo, obtener_opciones("idTipo"), :id, :valor, {selected: @persona.idTipo}, class: "form-control" ) %>
              </div>

            </div>
        </div>
        <div class="modal-footer">
          <%= link_to "Mostrar", persona_path(@persona.id), class: "btn btn-warning" %>
          <%= link_to "Regresar", personas_path, class: "btn btn-info" %>
          <%= f.submit "Guardar", class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
