<div id="content" class="content">
  <span id="notice"><%= notice %></span>

  <div class="action-buttons mb-3 d-flex justify-content-between align-items-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUser">
      Adicionar
    </button>
  </div>

  <table class="table">
    <thead class="">
      <tr>
        <th class="w-5" >Id</th>
        <th  class="w-25">Usuario</th>
        <th class="w-25">Rol</th>
        <th class="w-25 text-center">Estado</th>
        <th class="w-25">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @usuarios.each do |usuario| %>
        <tr>
          <td><%= usuario.id %> </td>
          <td>
            <%= link_to usuario.usuario, usuario_path(usuario.id) %>
          </td>
         <td><%= obtener_valor_parametro(usuario.idrol) %></td>
         <td class="text-center"><i data-toggle="tooltip" data-placement="top" title="<%= obtener_valor_parametro(usuario.idestadousuario) %>" class="fa <%= status_class(obtener_valor_parametro(usuario.idestadousuario)) %>" aria-hidden="true"></i></td>

         <td class="">
           <%= link_to 'Editar', edit_usuario_path(usuario.id), class: "btn btn-success btn-sm" %>
           <%= link_to 'Eliminar', usuario_path(usuario.id), class: "btn btn-danger btn-sm", method: "DELETE", data: {confirm: 'Estas seguro?'} %>
         </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="addUser" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Persona</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_for Usuario.new do |form| %>
        <div class="modal-body">
            <div class="d-flex flex-wrap">

              <div class="form-group col-md-12">
                <%= form.label :usuario %>
                <%= form.text_field :usuario, id: :usuario_usuario, class:"form-control", placeholder: "Usuario", required: true  %>
              </div>

              <div class="form-group col-md-12">
                <%= form.label :password %>
                <%= form.password_field :password, class:"form-control", placeholder: "Password", required: true  %>
              </div>

              <div class="form-group col-md-12">
                <%= form.label :"Rol" %>
                <select name="usuario[idrol]" id="idrol" class="form-control">
                  <% obtener_opciones("IdRol").each do |paramatro| %>
                    <option value="<%= paramatro.id %>"><%= paramatro.valor %></option>
                  <% end %>
                </select>
              </div>

              <div class="form-group col-md-12">
                <%= form.label "Estado" %>
                <select name="usuario[idestadousuario]" id="idestadousuario" class="form-control">
                  <% obtener_opciones("IdEstadoUsuario").each do |paramatro| %>
                    <option value="<%= paramatro.id %>"><%= paramatro.valor %></option>
                  <% end %>
                </select>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Regresar</button>
          <%= form.submit "Guardar", class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
