<div id="content" class="content">
  <div class="action-buttons mb-3 d-flex justify-content-between align-items-center mb-4">
    <%= link_to "Regresar", usuarios_path, class: "btn btn-info" %>
  </div>

  <h4 class="mb-4"><%= @usuario.usuario %></h4>
  <ul class="info mb-3">
    <li class="mb-3"><b>Rol: </b> <%= @rol %></li>
    <li class="mb-3"><b>Estado: </b><%= @estado %> </li>
  </ul>

  <div>
    <%= link_to "Editar", edit_usuario_path(@usuario.id), class: "btn btn-success" %>
    <%= link_to 'Eliminar', usuario_path(@usuario.id), class: "btn btn-danger", method: "DELETE", data: {confirm: 'Estas seguro?'} %>
  </div>
</div>
