<!DOCTYPE html>
<html lang="es" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Equipos</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="h-100">
    <div id="main" class="d-flex h-100">
      <div id="doclist" class="left-navbar h-100 col-md-2 p-0 bg-light">
        <h1 class="logo"><%= image_tag("Logo.png") %></h1>
        <h4>Menu</h4>

        <ul id="documents" role="tablist">
          <li>
            <a href="#" class="child" rel="facturas"><i class="fa fa-file-text-o"></i> Facturas</a>
          </li>
          <li>
            <a class="tab-parent" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="fa fa-folder-o" aria-hidden="true"></i>
              <i class="fa fa-folder-open-o" aria-hidden="true"></i>
              Definiciones
            </a>

            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <a href="#" class="child" rel="personas"><i class="fa fa-file-text-o"></i> Personas</a>
              <a href="#" class="child" rel="equipos"><i class="fa fa-file-text-o"></i> Equipos</a>
            </div>
          </li>

          <li>
            <a class="tab-parent collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fa fa-folder-o" aria-hidden="true"></i>
              <i class="fa fa-folder-open-o" aria-hidden="true"></i>
              Configuraciones
            </a>

            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
              <a href="#" class="child" rel="usuarios"><i class="fa fa-file-text-o"></i> Usuarios</a>
            </div>
          </li>
        </ul>

      </div>

      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
